/* Layout principal de l'application */
#root {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
